
.default-color0.chart-line-symbol {
    -fx-background-color: #d800ee;
}

.default-color0.chart-series-line {
    -fx-stroke: #363636;
}


.default-color1.chart-line-symbol {
    -fx-background-color: #544dee;
}

.default-color1.chart-series-line {
    -fx-stroke: transparent;
}
.table-column {
	-fx-alignment: CENTER;
}